.sub-navigation {
    a {
        margin: auto 2rem;
        position: relative;
        padding-right: 1rem;
        &:after {
            content: '';
            position: absolute;
            right: -2.6rem;
            top: -14px;
            background: url("assets/img/btn__hexagon.svg") no-repeat center right;
            width: 42px;
            height: 49px;
            display: inline-block;
            transform: scale(0.5);
            padding-top: 7.5rem !important;
        }
    }
}

.main-navigation {
    a {
        // padding: 2rem;
        // padding: 2rem 1rem;
        // text-align: center;
        // vertical-align: middle;
        // display: table-cell;
        // position: relative;
        // text-decoration: none;
        color: inherit;
        // @include media-breakpoint-down(md) {
        //     border: none;
        //     display: block;
        //     width: 100%;
        // }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            // bottom: 0;
            bottom: 1rem;
            left: 0;
            background-color: #FFF;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover {
            background: transparent !important;
            &:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
    ul {
        > li {
            margin: 0;
        }
    }
}

.mobile-navigation {
    @media screen and (max-width: 830px) {
        // display: none;
        // &.is-open {
        //     display: block;
        // }
        width: 100%;
        //background: #d500ff;
        order: 2;
        ul {
            margin-top: 5rem;
            display: flex;
            flex-flow: wrap column;
        }
        a {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 5rem;
        }
    }
    @media screen and (max-width: 830px) {
        a {
            font-size: 3.8rem;
        }
    }
    // overflow-x: hidden;
    // overflow-y: scroll;
    //    ul {
    //        visibility: hidden;
    //        opacity: 0;
    //        transition: visibility 0s, opacity 0.5s linear;
    //        position: absolute;
    //    }
    //    &.is-open {
    //  margin-top: 3rem;
    //  margin-bottom: 3rem;
    //  height: calc(100vh - 25vh);
    //        nav {
    //            ul {
    //                display: flex;
    //                flex-flow: wrap column;
    //                text-align: center;
    //                visibility: visible;
    //                opacity: 1;
    //                position: relative;
    //                li {
    //                    height: 50px;
    //                }
    //            }
    //        }
    //    }
}

@import "hamburger";
